header {
    position: relative;
}

#logo_ugent {
    position: absolute;
    top: 15px;
    left: 0;
    width: 150px;
    height: auto;
    z-index: 2;
}

#logo_honeybeevalley {
    position: absolute;
    top: 25px;
    right: 0;
    width: 260px;
    height: auto;
    z-index: 2;
}

#titel {
    text-align: center;
    color: black;
    padding-top: 15px;
    padding-bottom: 0px;
    border-radius: 3px;
    border-color: darkgrey;
}

#ondertitel {
    text-align: center;
    color: orange;
    margin-top: 0;
}

.nav-bar {
    border-top: 2px solid #787262;
    border-bottom: 2px solid #787262;
    width: 100%;
    padding: 10px;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

    .nav-bar .btn {
        border-radius: 10px;
        font-size: 18px;
    }

    .nav-bar .d-flex {
        justify-content: space-evenly;
        width: 100%;
    }

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #fffcf2;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #f5dd9d;
    border-top: 2px solid #000;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

    .footer p, .footer h5 {
        margin: 5px 0;
        font-size: 14px;
    }

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer li {
    font-size: 14px;
    margin-bottom: 3px;
}

.footer a {
    color: #000;
    text-decoration: none;
}

    .footer a:hover {
        text-decoration: underline;
    }

.participants, .promotors {
    width: 45%;
}

.content-body p {
    font-size: 18px;
    text-align: center;
}

.body-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    color: #333;
}

.left-column, .right-column {
    padding: 20px;
}

    .left-column h4, .right-column h4 {
        text-align: center;
        padding: 20px;
    }
